<ion-header>
  <ion-toolbar color='tertiary'>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>      
    </ion-buttons>  
    <ion-title>Adicionar Produto</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Descricao</ion-label>
    <ion-input type="text" [(ngModel)]="descricao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Cor</ion-label>
    <ion-input type="text" [(ngModel)]="cor"></ion-input>
  </ion-item>
  <ion-button expand="block" color="primary" (click)="postProduto()">Cadastrar</ion-button>
</ion-content>
